<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Snippet Detail</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="../highlight/styles/tokyo-night-dark.css">
    <script src="../highlight/highlight.js"></script>
</head>
<body>
    <header>
        <h1>Text Snippet Detail</h1>
    </header>
    <main>
        <section>
            <pre><code id="text"></code></pre>
            <ul>
                <li id="title"></li>
                <li id="codeType"></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Text Snippet Sharing Service. All rights reserved.</p>
    </footer>
    <script src="scripts/detail.js"></script>
</body>
</html>
